.container{
    margin-bottom: 100px;
}
.Mackbook img{
    width: 400px;
    height: 400px;

}
.buy-now-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px, 5px;
}
.card{
    text-align: center;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.all{
    color: rgb(241, 122, 10);
}
.middle{
    text-align: center;
}